.invoice-container {
  font-family: sans-serif;
  background-color: white;
  width: 100%;
  padding: 0;
}

.invoice-header {
  background-color: #0052CC;
  color: white;
  text-align: center;
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
}

.invoice-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  /* flex-wrap: wrap; */
}

.invoice-logo {
  max-width: 150px;
  /* position: absolute; */
  /* top: -10px; */
  margin-top: -100px;
}

.invoice-info {
  text-align: right;
  font-size: 14px;
}

.invoice-meta {
  border-top: 1px solid #e5e5e5;
  padding: 24px;
  font-size: 14px;
}
.i_m_2{
  width: 100%;
  border: none;
  position: absolute;
  top: 190px;
  display: flex;
  /* flex-direction: column; */
  justify-content: start;
  align-items: center;
  gap: -1px;
  /* margin-bottom: 4rem; */
}
.invoice-section {
  /* background-color: #f5f5f5; */
  padding: 1px 24px;
  font-size: 14px;
}

.invoice-table-section {
  padding: 24px;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
.invoice-table th{
font-size: 0.7rem;
}
.invoice-table th,
.invoice-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.invoice-table-2 th,
.invoice-table-2 td, .invoice-table-2 tr {
  border: none;
  padding: 14px;
  text-align: left;
}
.invoice-table-2 tr {
  /* box-shadow: 1px 1px 2px 1px gray; */
  
}
.invoice-table thead {
  background-color: #f5f5f5;
}

.invoice-footer {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  /* flex-wrap: wrap; */
  font-size: 14px;
  gap: 20px;
}

.invoice-qr {
  text-align: center;
}

.qr-note {
  font-size: 12px;
  margin-top: 6px;
}

.invoice-bottom {
  /* background-color: #f5f5f5; */
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 12px 24px;

}

.confidential {
  font-style: italic;
}

.custom-invoice-modal .ant-modal-content {
  padding: 0 !important;
}

.custom-invoice-modal .ant-modal-body {
  padding: 0 !important;
}
@media screen and (max-width: 768px) {
.invoice-logo {
  max-width: 150px;
  /* position: absolute; */
  /* top: -10px; */
  margin-top: -50px;
}
.invoice-info {
  text-align: right;
  font-size: 9px;
}
.invoice-footer {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  /* flex-wrap: wrap; */
  font-size: 8px;
  gap: 10px;
}


.invoice-table-section {
  padding: 24px;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 9px;
}
.invoice-table th{
font-size: 0.4rem;
font-weight: normal;
}
.invoice-table th,
.invoice-table td {
  border: .7px solid #ccc;
  padding: 5px;
  text-align: left;
}

}