.card-container_pay {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: start;
  /* padding: 1rem; */
  background: #f7f8fa;
}

.card_pay {
  background: #ffffff;
  /* border-radius: 12px; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  /* width: 280px; */
  width: 22%;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-title_pay {
  width: 70%;
  font-size: 14px;
  color: #202224;
  font-weight: 400;
  margin: 0;
}

.card-count_pay {
  font-size: 0.85rem;
  color: #888;
  margin-top: 6px;
  font-weight: 400;
}

.icon_pay {
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_pay.pink {
  background: #ffe6eb;
  color: #f24e63;
}

.icon_pay.orange {
  background: #fff4d4;
  color: #f4a300;
}

.icon_pay.green {
  background: #e0fbe9;
  color: #2ecc71;
}

.card-footer_pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 1.4rem; */
}

.card-amount_pay {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.card-percent_pay {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  gap: 4px;
}

.card-percent_pay.red {
  color: #ff3b30;
}

.card-percent_pay.green {
  color: #00c853;
}

.card-percent_pay svg {
  font-size: 1rem;
  stroke-width: 3px;
  transform: translateY(1px);
}
.voucher-count-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.7rem;
}

.voucher-line {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
  margin-top: 1rem;
}

.voucher-count {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
}

.voucher-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #8A8894;
}


@media screen and (max-width: 768px) {
  .card_pay {
    width: 100%;
    max-width: 90vw;
  }

  .card-container_pay {
    flex-direction: column;
    align-items: center;
  }
}
